<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buoyantec.iGrid.ui.activity" >

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.buoyantec.iGrid.App"
        tools:replace="android:icon">
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:label="@string/title_activity_system_status"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.WarnSystems"
            android:label="@string/title_activity_warn_messages"
            android:launchMode="singleTask"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.WorkPlan"
            android:label="@string/title_activity_work_plan"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PowerManage"
            android:label="@string/title_activity_power_manage"
            android:launchMode="singleTask"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.ItManage"
            android:label="@string/title_activity_it_manage"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Other"
            android:label="@string/title_activity_other"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PowerDistribution"
            android:label="@string/title_activity_power_distribution"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.UpsSystem"
            android:label="@string/title_activity_ups_system"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Cabinet"
            android:label="@string/title_activity_cabinet"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PrecisionAir"
            android:label="@string/title_activity_precision_air"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Meter"
            android:label="@string/title_activity_box"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Battery"
            android:label="@string/title_activity_battery"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.BatteryDetail"
            android:label="@string/title_activity_battery_show"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.Battery"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Battery" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.WarnDetail"
            android:label="@string/title_activity_warn_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.WarnDevices"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.WarnDevices" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PrecisionAirDetail"
            android:label="@string/title_activity_precision_air_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.PrecisionAir"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PrecisionAir" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.MeterDetail"
            android:label="@string/title_activity_box_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.Meter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Meter" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Water"
            android:label="@string/title_activity_water"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Temperature"
            android:label="@string/title_activity_temperature"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.VideoSystem"
            android:label="@string/title_activity_video_system"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.FireFightingDetail"
            android:label="@string/title_activity_smoke"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.FireFighting"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.FireFighting" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.Pue"
            android:label="@string/title_activity_pue"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PowerAnalyse"
            android:label="@string/title_activity_power_analyse"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.ElectricityData"
            android:label="@string/title_activity_power_data"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.UpsDetail"
            android:label="@string/title_activity_ups_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.UpsSystem"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.UpsSystem" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.PowerDetail"
            android:label="@string/title_activity_power_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.PowerDistribution"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerDistribution" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.WarnDevices"
            android:label="@string/title_activity_warn_devices"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.WarnSystems" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.WarnSystems" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.CabinetDetail"
            android:label="@string/title_activity_cabinet_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.Cabinet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Cabinet" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.TemperatureDetail"
            android:label="@string/title_activity_temperature_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.Temperature" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Temperature" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.WaterDetail"
            android:label="@string/title_activity_water_detail"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.Water" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Water" />
        </activity>
        <activity
            android:name="com.buoyantec.iGrid.ui.activity.FireFighting"
            android:label="@string/title_activity_fire_fighting"
            android:launchMode="singleTop"
            android:parentActivityName="com.buoyantec.iGrid.ui.activity.SystemStatus" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
    </application>

</manifest>
