<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buoyantec.iGrid.ui.activity" >

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name="com.buoyantec.iGrid.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SystemStatus"
            android:label="@string/title_activity_system_status"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".WarnSystems"
            android:label="@string/title_activity_warn_messages"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".WorkPlan"
            android:label="@string/title_activity_work_plan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".PowerManage"
            android:label="@string/title_activity_power_manage"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ItManage"
            android:label="@string/title_activity_it_manage"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".Other"
            android:label="@string/title_activity_other"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".PowerDistribution"
            android:label="@string/title_activity_power_distribution"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".UpsSystem"
            android:label="@string/title_activity_ups_system"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".Cabinet"
            android:label="@string/title_activity_cabinet"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".PrecisionAir"
            android:label="@string/title_activity_precision_air"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".Meter"
            android:label="@string/title_activity_box"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".Battery"
            android:label="@string/title_activity_battery"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".BatteryDetail"
            android:label="@string/title_activity_battery_show"
            android:parentActivityName=".Battery"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Battery" />
        </activity>
        <activity
            android:name=".WarnDetail"
            android:label="@string/title_activity_warn_detail"
            android:parentActivityName=".WarnDevices"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.WarnDevices" />
        </activity>
        <activity
            android:name=".PrecisionAirDetail"
            android:label="@string/title_activity_precision_air_detail"
            android:parentActivityName=".PrecisionAir"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PrecisionAir" />
        </activity>
        <activity
            android:name=".MeterDetail"
            android:label="@string/title_activity_box_detail"
            android:parentActivityName=".Meter"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Meter" />
        </activity>
        <activity
            android:name=".Water"
            android:label="@string/title_activity_water"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".Temperature"
            android:label="@string/title_activity_temperature"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".VideoSystem"
            android:label="@string/title_activity_video_system"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".FireFightingDetail"
            android:label="@string/title_activity_smoke"
            android:launchMode="singleTop"
            android:parentActivityName=".FireFighting"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.FireFighting" />
        </activity>
        <activity
            android:name=".Pue"
            android:label="@string/title_activity_pue"
            android:parentActivityName=".PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name=".PowerAnalyse"
            android:label="@string/title_activity_power_analyse"
            android:parentActivityName=".PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name=".ElectricityData"
            android:label="@string/title_activity_power_data"
            android:parentActivityName=".PowerManage"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerManage" />
        </activity>
        <activity
            android:name=".UpsDetail"
            android:label="@string/title_activity_ups_detail"
            android:parentActivityName=".UpsSystem"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.UpsSystem" />
        </activity>
        <activity
            android:name=".PowerDetail"
            android:label="@string/title_activity_power_detail"
            android:parentActivityName=".PowerDistribution"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.PowerDistribution" />
        </activity>
        <activity
            android:name=".WarnDevices"
            android:label="@string/title_activity_warn_devices"
            android:launchMode="singleTop"
            android:parentActivityName=".WarnSystems" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.WarnSystems" />
        </activity>
        <activity
            android:name=".CabinetDetail"
            android:label="@string/title_activity_cabinet_detail"
            android:parentActivityName=".Cabinet" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Cabinet" />
        </activity>
        <activity
            android:name=".TemperatureDetail"
            android:label="@string/title_activity_temperature_detail"
            android:parentActivityName=".Temperature" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Temperature" />
        </activity>
        <activity
            android:name=".WaterDetail"
            android:label="@string/title_activity_water_detail"
            android:parentActivityName=".Water" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.Water" />
        </activity>
        <activity
            android:name=".FireFighting"
            android:label="@string/title_activity_fire_fighting"
            android:launchMode="singleTop"
            android:parentActivityName=".SystemStatus" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.SystemStatus" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buoyantec.iGrid.ui.activity.MainActivity" />
        </activity>
    </application>

</manifest>
